* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
}
body {
  font-family: "Rubix", sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
}
.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}
.button {
  background-color: var(--color-232f3e);
  border-radius: 50px;
  font-size: 14px;
  color: white;
  padding: 13px 33px;
  transition: all 250ms ease-in-out;
}
.button:hover {
  background-color: var(--color-febd69);
  color: var(--color-131921);
}
/* Header started */
.header-top-strip {
  border-bottom: 1px solid var(--color-3b4149);
  background-color: var(--color-131921);
  color: white;
}
.header-upper {
  background-color: var(--color-131921);
}
.header-upper .input-group-text {
  background-color: var(--color-febd69);
}
.header-upper .header-upper-links img {
  width: 28px;
  height: 28px;
}
.header-upper-links a {
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
}
.header-upper-links a p {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.header-bottom {
  background-color: var(--color-232f3e);
}
.header-bottom a,
.header-bottom button {
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}
.header-bottom .dropdown li > a {
  text-transform: none;
  padding: 20px;
  border: 1px solid var(--color-3b4149);
}
.header-bottom .dropdown li > a:hover {
  background-color: transparent;
  color: var(--color-febd69);
}
.header-bottom .dropdown-menu {
  background-color: var(--color-131921);
  width: 100%;
  padding: 0;
  transform: translate3d(0px, 45px, 0) !important;
}
/* Header Ended */

/* Footer */
footer {
  background-color: var(--color-232f3e);
}
footer:not(:first-child) {
  border: 1px solid var(--color-3b4149);
}
footer .input-group-text {
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
}
/* Footer ended */

/* Home page */
/* home wrapper 1 */
.main-banner {
  position: relative;
}
.main-banner-content {
  position: absolute;
  top: 15%;
  left: 5%;
}
.main-banner-content h4 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 24px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.main-banner-content h5 {
  text-transform: none;
  font-size: 42px;
  line-height: 54px;
  letter-spacing: -2px;
  font-weight: 500;
}
.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4px;
  margin: 0 0 36px;
  color: var(--color-131921);
}
.small-banner {
  width: 49%;
  position: relative;
}
.small-banner-content {
  position: absolute;
  top: 25%;
  left: 10%;
}
.small-banner-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.small-banner-content h5 {
  text-transform: none;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -2px;
  font-weight: 600;
}
.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: var(--color-131921);
}
/* home wrapper 1 ended */
/* home wrapper 2 */
.home-wrapper-2 {
  background-color: var(--color-f5f5f7);
}
.home-wrapper-2 h6 {
  font-weight: 600;
}
/* home wrapper 2 ended*/
/* Home page ended */
